/* ...existing code... */
.typing-bubble.small {
  width: 40px;
  height: 40px;
  left: 260px;
  top: 180px;
  border-radius: 50%;
}

.typing-bubble.medium {
  width: 60px;
  height: 60px;
  left: 320px;
  top: 130px;
  border-radius: 50%;
}

.typing-bubble.large {
  width: 100px;
  height: 100px;
  left: 410px;
  top: 70px;
  border-radius: 50%;
}
/* ...existing code... */